{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1>찜한 상품</h1>
            <div class="row">
                {% for like in likes %}
                    <div class="col-md-4 col-12">
                        <div class="card" style="width: 18rem; margin-top: 20px; text-align: center;">
                            <div class="card-body">
                                {% if like.product.image %}
                                    <img class="card-img-top" src="{{ like.product.image.url }}" style="width: 150px; height: 150px;">
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <h5 class="card-title">{{ like.product.title }}</h5>
                                <h5>{{ like.created_at | date:'Y-m-d'}} 에 찜했습니다</h5>
                                <a href="{% url 'product:show' like.product.id %}" class="btn btn-dark">상세보기</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h3>로그인 후 이용이 가능합니다.</h3>
            <a href="{% url 'account_login' %}" class="btn btn-dark">로그인</a>
            <a href="{% url 'account_signup' %}" class="btn btn-dark">회원가입</a>
        {% endif %}
    </div>
{% endblock %}