{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <a href="{% url 'product:new' %}" class="btn btn-dark">+상품등록하기</a>
    {% endif %}
    <h1>상품목록</h1>
    <div class="row">
        {% for p in products %}
            <div class="col-md-4 col-12" style="text-align: center;">
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <div class="card-body">
                        {% if p.image %}
                        <img class="card-img-top" src="{{ p.image.url }}" style="width: 150px; height: 150px;">
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <h4 style="font-size: 20px;">{{ p.title | truncatechars:15 }}</h4>
                        <h5>&#8361; {{ p.price }}</h5><a href="{% url 'product:show' p.id %}" class="btn btn-dark" style="width: 100px;">상세보기</a>
                        <a href="{% url 'product:post_like' p.id %}">
                            {% if user.is_authenticated %}
                                {% if user in p.like_user_set.all %}
                                    <i class="fas fa-heart"></i>
                                {% else %}
                                    <i class="far fa-heart"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                        <h5>좋아요 <b style="color: red;"> {{ p.like_user_set.count }}명</b></h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}